/* Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.contenedor {
  max-width: 1200px;
  width: 95%;
  width: min(95%, 1200px);
  margin: 0 auto;
}

/* Header */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/foto-portada.jpeg);
  height: 600px;
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
}
.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 70px;
  height: 70px;
  margin-right: 5px;
}
.logo h1 {
  color: #bc5c2c;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar a {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
}
.navbar a:nth-last-child(3n) {
  text-align: center;
}
.navbar a:hover {
  background-color: #bc5c2c;
  color: #ffffff;
  transition: background-color 0.8s;
}
.header-text {
  text-align: center;
  margin-top: 200px;
}
.header-text h2 {
  font-size: 50px;
  color: #ffffff;
}
.header-text h2 span {
  text-transform: uppercase;
}

/* Main */

/* .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
} */

/* .logo {
  width: 70px;
  height: 70px;
  float: left;
} */

/* nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
} */

/* nav ul li a:hover {
  background-color: #fff;
  padding: 5px;
  color: #b85b2d;
  border-radius: 5px;
} */

/* .content {
  margin-top: 60px;
  position: relative;
  width: 100%;
}

.bienvenida {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 110px 20px 110px 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 50px;
}

.tarjeta {
  border: 1px solid #ccc;
  background-color: #b85b2d;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjeta img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
} */
