
body {
    background-color: #E08B75;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
}

header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


nav {
    /* background-color: #555; */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    /* text-decoration: underline; */
    background-color: #fff;
    padding: 5px;
    color: #E08B75;
    border-radius: 5px;
}

section {
    flex: 1; 
    padding: 20px;
    margin-top: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}