/* Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 145vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Header */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/foto-portada.jpeg);
  height: 800px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.barra {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barra.active {
  background-color: rgba(0, 0, 0, 0.61);
  transition: all 1s ease;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 90px;
  height: 90px;
  margin-right: 5px;
}
.logo h1 {
  color: #bc5c2c;
  font-size: 50px;
  font-weight: bold;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu {
  display: none;
}
.menu-icono {
  width: 40px;
}

.navbar label {
  cursor: pointer;
  display: none;
}
@media (max-width: 968px) {
  .navbar label {
    display: initial;
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.61);
    display: none;
  }
  .menu-icono {
    margin-right: 20px;
  }
  .item {
    margin: 20px 0 20px 0;
    width: 100%;
  }
  #menu:checked ~ .menu {
    display: inline;
  }
}
.navbar a {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 30px;
}
.navbar a:hover {
  background-color: #bc5c2c;
  color: #ffffff;
  font-size: 18px;
  transition: background-color 0.8s;
}

.header-text {
  text-align: center;
  padding-top: 400px;
  font-size: 50px;
  color: #ffffff;
}
.header-text span {
  text-transform: uppercase;
}

/* Main */
.contenedor {
  width: 90%;
  margin: auto;
}

section {
  padding: 110px 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 50px;
}

.tarjeta {
  border: 1px solid #ccc;
  background-color: #b85b2d;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjeta img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
}
